/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

* {
   margin: 0;
   padding: 0; 
}

body {
    background-color: #080808;
    color: #ffffff !important;
}

.form-control:focus {
    border-color: #BA68C8;
    box-shadow: 0 0 0 0.2rem rgba(167, 40, 167, 0.25);
} 

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    // background: #BA68C8;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    // background: #BA68C8;
  }