img {
    max-height: 360px;
}

.coloumn {
    margin-top: 50px;
}

.genres {
    padding: 5px;
}

.container {
    padding-top: 30px;
}

.dialogAnimeSearch {
    margin-bottom: 20px;
}

.p-button-rounded {
    margin-right: 5px;
}


.noAnimesImage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}