img {
    max-height: 360px;
}

.coloumn {
    margin-top: 50px;
}

.genres {
    display: flex;
    float: left;
    padding: 0px 5px 5px 0px;
}

.container {
    padding-top: 30px;
}

.dialogAnimeSearch {
    margin-bottom: 20px;
    background-color: #1e1e1e;
    border-color: #383838;
    color: #fff;
}

.p-button-rounded {
    margin-right: 10px;
}


.noAnimesImage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

p-tag {
    text-align: center;
}

//Custom responsive
//Change edit mode
@media only screen and (max-width: 960px) {
    :host ::ng-deep .edit-sm {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

//Hide columns in small devices and change img sizes (max)
@media only screen and (max-width: 767px) {
    :host ::ng-deep .sm-screen {
        display: none;
    }

    .xs-img {
        display: none;
    }
}

//Hide columns in small devices and change img sizes (min)
@media only screen and (min-width: 767px) {

    .s-img {
        display: none;
    }
}

//Change toast size
@media only screen and (max-width: 435px) {
    :host ::ng-deep .p-toast {
        width: 17rem;
    }
}